
.tooltips{
  
  margin-left: 9rem;
  position: relative;
  
  a{
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #0352fc;
    color: #fff;
    border-radius: 3px;
    
    
    &:after{
      display: none;
      content: attr(data-text);
      position: absolute;
      background-color: #1d1d1d;
      color: #1d1d1d;
      border: solid 1px #1d1d1d;
      padding: 0.25rem 0.75rem;
      min-width: 100px;
      text-align: center;
      font-size: 0.75rem;
      border-radius: 3px;
      right: -140px;
      top: -3px;
      color: #fff;
      animation: show-animate 100ms ease;
    }
    
     &:before{
       display: none;
        position: absolute;
        content: '';
        right: -18px;
        top: 2px;
        width: 0; 
        height: 0; 
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent; 
        border-right: 15px solid #1d1d1d; 
        animation: show-animate 100ms ease;
      }
    
    
    &:hover{
      &:after, &:before{
        display: block;
      }
    }
    
    @keyframes show-animate {
      from{
        opacity: 0;
      }to{
        opacity: 1;
      }
    }
  }
}